body {
  font-family: sans-serif;
  padding: 2rem;
  background: #f9f9f9;
}

input {
  padding: 0.5rem;
  margin-right: 1rem;
  width: 40%;
}

.card {
  background: white;
  padding: 1rem;
  margin-top: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.container {
  justify-content: center;  /* horizontal */
  align-items: center;      /* vertical */
}

 .card-new {
    padding: '20px';
    background-color: '#f9f9f9';
    border-radius: '8px';
    width: '300px';
    box-shadow: '0 4px 8px rgba(0, 0, 0, 0.1)';
    margin-bottom: '20px';
  }

  .extraInfo {
    margin-top: '10px';
    font-size: '14px';
    color: '#555';
  }
  .button {
    margin-top: '10px';
    background-color: '#007bff';
    color: 'white';
    border: 'none';
    padding: '5px 10px';
    cursor: 'pointer';
    font-size: '14px';
    border-radius: '5px';
  }